/*
 * SPDX-License-Identifier: BSD-2-Clause
 *
 * Copyright (c) 2026, Spacemit Ltd.
 *
 */

/ {
	cpus: cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		timebase-frequency = <24000000>;

		cpu_0: cpu@0 {
			device_type = "cpu";
			reg = <0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt",
					"smstateen";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";
			cpu-cacheline = "64Bytes";
			cpu0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_1: cpu@1 {
			device_type = "cpu";
			reg = <1>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt",
					"smstateen";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";
			cpu-cacheline = "64Bytes";
			cpu1_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_2: cpu@2 {
			device_type = "cpu";
			reg = <2>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt",
					"smstateen";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu2_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_3: cpu@3 {
			device_type = "cpu";
			reg = <3>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt",
					"smstateen";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu3_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_4: cpu@4 {
			device_type = "cpu";
			reg = <4>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt",
					"smstateen";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu4_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_5: cpu@5 {
			device_type = "cpu";
			reg = <5>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt",
					"smstateen";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu5_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_6: cpu@6 {
			device_type = "cpu";
			reg = <6>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt",
					"smstateen";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu6_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_7: cpu@7 {
			device_type = "cpu";
			reg = <7>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt",
					"smstateen";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu7_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_8: cpu@8 {
			device_type = "cpu";
			reg = <8>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu8_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_9: cpu@9 {
			device_type = "cpu";
			reg = <9>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu9_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_10: cpu@10 {
			device_type = "cpu";
			reg = <10>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu10_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_11: cpu@11 {
			device_type = "cpu";
			reg = <11>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu11_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_12: cpu@12 {
			device_type = "cpu";
			reg = <12>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu12_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_13: cpu@13 {
			device_type = "cpu";
			reg = <13>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu13_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_14: cpu@14 {
			device_type = "cpu";
			reg = <14>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu14_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_15: cpu@15 {
			device_type = "cpu";
			reg = <15>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond", "zicsr",
					"zifencei", "zihintpause", "zihpm", "zfh", "zfhmin",
					"zba", "zbb", "zbc", "zbs", "zkt", "zvbb", "zvbc",
					"zvfh", "zvfhmin", "zvkb", "zvkg", "zvkn", "zvknc",
					"zvkned", "zvkng", "zvknha", "zvknhb", "zvks",
					"zvksc", "zvksed", "zvksh", "zvksg", "zvkt", "ssaia",
					"sscofpmf", "sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			mmu-type = "riscv,sv39";

			cpu15_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
	};
};
