# @ post_build.cfg
# This is the Spacemit K3 MUSE-Pico board specific post build settings
#
# Copyright (c) 2021, Intel Corporation. All rights reserved.<BR>
# Copyright (c) 2025, Spacemit Corporation. All rights reserved.<BR>
# SPDX-License-Identifier: BSD-2-Clause-Patent
#


[CONFIG]
BOARD = MUSE-Pico

# fit image file build
FitImageBuild = TRUE
FIT_ITS_FILE = MUSE-Pico.its
FIT_Image_FILE = MUSE-Pico.itb
FIT_BUILD_FLAGS = -E -B 0x1000
